.case-studies-relationship-block {
    padding: 140px 0;
    @media only screen and (max-width: 1024px) {
        padding: 100px 0;
    }
    @media only screen and (max-width: 767px) {
        padding: 50px 0;
    }
    .site-container {
        display: grid;
        gap: 50px;
        @media only screen and (max-width: 1024px) {
            gap: 36px;
        }
        @media only screen and (max-width: 767px) {
            gap: 24px;
        }
        .heading-container {

        }
        .case-studies-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0 25px;
            @media only screen and (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media only screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                gap: 25px;
            }
            >*:nth-child(even) {
                margin-top: 100px;
                @media only screen and (max-width: 1024px) {
                    margin-top: 50px;
                }
                @media only screen and (max-width: 767px) {
                    margin-top: 0;
                }
            }
            >*:nth-child(odd) {
                margin-bottom: 100px;
                @media only screen and (max-width: 1024px) {
                    margin-bottom: 50px;
                }
                @media only screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}