
.site-container {
    width: calc(100vw - 180px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    @media only screen and (max-width: 1024px) {
        max-width: 100%;
        width: calc(100vw - 100px);
    }
    @media only screen and (max-width: 767px) {
        max-width: 100%;
        width: calc(100vw - 48px);
    }
}

.swiper-pagination {
    &-bullets {
        .swiper-pagination-bullet {
            
            &-active {

            }
        }   
    }
}

section {
    &.has-bg {
        &.bg-colour-white {
            background-color: #FFFFFF;
            & + .has-bg.bg-colour-white {
                padding-top: 0 !important;
            }

        }
        &.bg-colour-dark-blue {
            background-color: #05063E;
            & + .has-bg.bg-colour-dark-blue {
                padding-top: 0 !important;
            }
            color: #fff;
            
        }
        &.bg-colour-cream {
            background-color: #F0E3DB;
            & + .has-bg.bg-colour-cream {
                padding-top: 0 !important;
            }
            
        }
        &.bg-colour-light-grey {
            background-color: #F2F2F2;
            & + .has-bg.bg-colour-light-grey {
                padding-top: 0 !important;
            }
            
        }
        &.bg-colour-teal {
            background-color: #58DED2;
            & + .has-bg.bg-colour-teal {
                padding-top: 0 !important;
            }
            
        }
        &.bg-colour-orange {
            background-color: #FF6B38;
            & + .has-bg.bg-colour-orange {
                padding-top: 0 !important;
            }
            
        }
        &.bg-colour-light-purple {
            background-color: #4A3670;
            & + .has-bg.bg-colour-light-purple {
                padding-top: 0 !important;
            }
            color: #fff;
            
        }
        &.bg-colour-dark-purple {
            background-color: #360D4D;
            & + .has-bg.bg-colour-dark-purple {
                padding-top: 0 !important;
            }
            h1, h2, h3, h4, h5, h6, 
            .h1, .h2, .h3, .h4, .h5, .h6 {
                color: #FF6B38;
            }
            color: #fff;
        }
    }
}