.testimonials-with-image-carousel {
    padding: 90px 0;
    @media only screen and (max-width: 767px) {
        padding: 50px 0;
    }
    .site-container {
        max-width: 1253px;
        .testimonial {
            .inner-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 180px;
                @media only screen and (max-width: 1920px) {
                    gap: calc(180/1920 * 100vw);
                }
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                    gap: 20px;
                }
                .left-container {
                    width: 50%;
                    overflow: hidden;
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                    }
                }
                .right-container {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 36px;
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
            &.flipped {
                .inner-container {
                    flex-direction: row-reverse;
                    @media only screen and (max-width: 767px) {
                        flex-direction: column;
                    }
                }
            }
        }
        .swiper-pag {
            margin-top: 50px;
        }

    }
    
}