.team-listing-block {
    padding: 144px 0; 
    @media only screen and (max-width: 1024px) {
        padding: 100px 0;
    }
    @media only screen and (max-width: 767px) {
        padding: 60px 0;
    }
    .site-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 88px;
        @media only screen and (max-width: 1024px) {
            gap: 50px;
        }
        @media only screen and (max-width: 767px) {
            gap: 20px;
        }
        .heading-container {
            
        }
        .post-listing-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            padding-bottom: 150px;
            @media only screen and (max-width: 1023px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media only screen and (max-width: 767px) {
                grid-template-columns: 1fr;
                padding-bottom: 0;
            }
            >* {
                @media only screen and (min-width: 1024px) {
                    &:not(:nth-child(3n - 1)) {
                        margin-top: 150px;
                        margin-bottom: -150px;
                    }
                }
                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    &:not(:nth-child(2n - 1)) {
                        margin-top: 150px;
                        margin-bottom: -150px;
                    }
                }

            }
        }
    }
}