//Form
$input-border: #999;
$error: #FB2925;
$success: #3AFB2F;

//Numeric Values
$container-width: 1400px;



.colour--cream {
    color: #F0E3DB;
    &-bg {
        background-color: #F0E3DB;
        color: #05063E;
    }
}
.colour--teal {
    color: #58DED2;
    &-bg {
        background-color: #58DED2;
        color: #05063E;
    }
}
.colour--orange {
    color: #FF6B38;
    &-bg {
        background-color: #FF6B38;
        color: #05063E;
    }
}
.colour--purple {
    color: #4A3670;
    &-bg {
        background-color: #4A3670;
        color: #fff;
    }
}
.colour--d-blue {
    color: #05063E;
    &-bg {
        background-color: #05063E;
        color: #fff;
    }
}
.colour--l-grey {
    color: #F2F2F2;
    &-bg {
        background-color: #F2F2F2;
        color: #05063E;
    }
}


.colour--purple-bg, .colour--d-blue-bg {
    .btn {
        border-color: #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #05063E;
        }
    }
}