.searchandfilter {
    > ul{
        > li[data-sf-field-input-type="select"]{
            padding: 0 !important;
            
            h4{

            }

            select{

            }

            label{
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    transform: translateY(-50%);
                    background-image: url(../assets/select.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    pointer-events: none;
                }
            }
        }

        > li[data-sf-field-input-type="radio"] {
            padding: 0 !important;

            ul {
                display: flex;
                align-items: flex-end;

                @media only screen and (min-width: 768px){
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            li {
                padding: 0;
                flex-shrink: 0;

                input {

                }

                label {
                    transition: all .5s ease;
                    cursor: pointer;
                }

                input:checked + label {

                }
            }
        }
    }
}